/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

/*  */

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

.header-image {
    max-width: 80%;
    height: auto;
    text-align: center;
}

.header-title {
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    padding-left: 0;
    margin-left: 0;
    text-align: left;
}

.logo {
    width: 30%;
    height: 30%;
    max-width: 100%;
    padding: 0;
    margin: 0;
}

/* Estilo para el encabezado */
.header {
    display: flex; /* Utilizamos Flexbox para distribuir los divs horizontalmente */
    height: 120%; /* Altura del header */
    color: black; /* Color del texto */
    margin-bottom: 2%;
    padding: 0;
    /* Ruta de la imagen de fondo */
    background-color: #00498B;
    background-image: linear-gradient(to right, rgb(0,	73,	139), #0084EA, #00498B);
    /* background-color: #007BC1; */
    color: #fff; /* Color del texto en el encabezado */
    text-align: center; /* Alineación del contenido del encabezado */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Estilo para el div izquierdo (30%) */
.left-div {
    flex: 30%; /* Ocupa el 30% del ancho disponible */
    padding: 0px; /* Espaciado interior para el contenido */
}

/* Estilo para el div derecho (70%) */
.right-div {
    flex: 80%; /* Ocupa el 70% del ancho disponible */
    padding: 0px; /* Espaciado interior para el contenido */
    margin-top: 0px;
}


body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2%; /* Elimina el relleno por defecto del body */
    /* background-image: url('../images/au.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imagen-opaca {
    opacity: 0.5; /* Cambia este valor para ajustar la opacidad (0.0 a 1.0) */
}
.container {
    max-width: 70%;
    /* margin: 0 auto; */
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    /* padding-bottom: 40px; */
}

.container::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* Coloca el pseudo-elemento detrás del contenido */
    /*opacity: 0.2; /* Ajusta la opacidad de la imagen de fondo */
    /*background-color: #f5f5f5;*/
}

.column {
    flex: 1;
    padding: 20px;
}

.input_form {
    border: #0f98f8 solid 1px;
    border-radius: 10px;
    margin-bottom: 25px;
    width: 100%;
    height: 35px;
    background: transparent;
    color: black;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    padding: 0 15px;
}

.textarea-form {

    border: #0f98f8 solid 1px;
    border-radius: 10px;
    padding: 0 15px;
    margin-bottom: 25px;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 14px;
    background: transparent;
    color: black;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    height: 250px;
    resize: none;
}
.textarea-anonimo {

    border: #0f98f8 solid 1px;
    border-radius: 10px;
    padding: 0 15px;
    margin-bottom: 25px;
    width: 100%;
    padding-top: 9px;
    padding-bottom: 14px;
    background: transparent;
    color: black;
    font-size: 18px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    height: 150px;
    /* max-height: 168px; */
    resize: none;
}

.send_btn {
    border: #0f98f8 solid 1px;
    background: #0f98f8;
    font-weight: 500;
    font-size: 18px;
    width: 198px;
    color: #fff;
    height: 57px;
    /* margin-top: 0px !important; */
    transition: ease-in all 0.5s;
    text-transform: uppercase;
    border-radius: 30px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
}

.send_btn:hover {
    background: #202121;
    border: black 1px;
    transition: ease-in all 0.5s;
}

label{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.container2 {
    max-width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: white; */
}

.column2 {
    flex: 1;
    padding: 10px;
}
.column3 {
    flex: 1;
    padding: 20px;
    text-align: center;
}

.container2::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: 0.2;
    background-color: #f5f5f5;
}


.input_search {
    border: #0f98f8 solid 1px;
    border-radius: 10px;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 4px;
    margin-bottom: 10px;
    width: 70%;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    font-weight: normal;
    font-family:'Poppins', sans-serif;
    padding: 0 10px;
  }

.search_btn {
    background: #0f98f8;
    border: #0f98f8 solid 1px;
    font-weight: 500;
    font-size: 18px;
    font-family:'Poppins', sans-serif;
    width: 98px;
    color: #fff;
    height: 35px;
    text-transform: uppercase;
    border-radius: 30px;
    margin-top: 50px;
    display: block;
}

.search_btn:hover {
    background: rgb(92, 165, 92);
    border: green;
    transition: ease-in all 0.5s;
}

a {
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        max-width: 100%;
    }

    .header {
        font-size: 12px;
        flex-direction: column;
    }

    .left-div, .right-div {
        flex: auto;
    }
    .nav-links {
        display: block;
    }
    .menu-icon {
        display: none;
    }
    .modalDialog > div {
        max-width: 80%;
        height: max-content;
    }

    .input_search, .search_btn {
        margin-top: 10px;
    }

    .send_btn {
        margin-bottom: 10%;
    }

    .header-title {
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        padding-left: 0px;
        margin-top: 0px;
        text-align: center;
    }
    .container2 {
        flex-direction: column;
        max-width: 100%;
    }
    .column2 {
        width: 100%;
        margin-bottom: 20px;
    }
    .column {
        width: 100%;
        flex: 1;
        padding: 0px;
    }
    body {
        padding-bottom: 0%;
    }
}




