table {
    width: 100%;
    /* height: 100%; */
    border-collapse: collapse;
}
/* Establecer el ancho de la primera columna al 30% y la segunda al 70% */
th:nth-child(1), td:nth-child(1) {
    width: 20%; /* Cambia el ancho de la primera columna al 30% del ancho total */
}


th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #dddddd;
    max-height: 100px; /* Establece una altura máxima para la celda */
    overflow-y: auto; /* Agrega desplazamiento vertical cuando el contenido desborde */
}

th {
    border: none;
    padding-top: 20px;
    text-align: center;

}

tr:last-child td {
    border: none;
    margin-bottom: 200px;
}

.columna2{
    font-family:'Poppins', sans-serif;
    text-align: justify;
}


.columna1{
    font-family:'Poppins', sans-serif;
    font-weight: bold;
}





